body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: hsl(215, 42%, 9%);
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

nav > a {
  margin-right: 5%;
  font-weight: bold;
  font-size: 20px;
}

.buttonResearch {
  background-color: #0090ff;
  border: none;
  color: #eeeeee;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.inputResearch {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #eeeeee;
  background-color: #0d2847;
  border: 1px solid #0090ff;
  margin-right: 5px;
}

nav {
  border-bottom: 2px solid #0077ff3a;
  background-color: hsl(215, 42%, 9%);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 2%;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  padding: 2%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  padding: 5px;
  font-size: 20px;
}

.card-image {
  width: 20%;
  height: 20%;
  object-fit: cover;
  padding: 5%;
  background-color: #0d2847;
  border-radius: 1000px;
  border: 1px solid #0090ff;
}

.description-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  width: 30%;
}

.card-pokemon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
  margin: 10%;
}

.button-add-cart {
  background-color: #0090ff;
  border: none;
  color: #eeeeee;
  padding: 16px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 60%;
  font-weight: bold;
  margin: 5%;
}

.error {
  background-color: #d62f2f;
  font-size: 20px;
  padding: 10px;
  margin-inline: 20%;
}

.center-research {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.center-research > input {
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  width: 50%;
  color: #eeeeee;
  background-color: #0d2847;
  border: 1px solid #0090ff;
  margin-right: 5px;
  font-size: 20px;
}

.research {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.research > a {
  margin-right: 5%;
  font-weight: bold;
  font-size: 20px;
}

.center-research > button {
  background-color: #0090ff;
  border: none;
  color: #eeeeee;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
}

.main-research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.main-research > h2 {
  text-align: center;
  font-size: 40px;
}

.list-pokemon {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5%;
  margin-inline: 5%;
  border: 1px solid #0090ff;
  border-radius: 5px;
  padding: 5px;
}

#random-pokemon-sprite {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .list-pokemon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.description-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
  width: 60%;
}

footer {
  border-top: 2px solid #0077ff3a;
  background-color: #111927;
  font-weight: bold;
  padding-block: 5%;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 29vh;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  margin: 5%;
}

.element {
  background-color: #0d2847;
  border-radius: 1000px;
  border: 1px solid #0090ff;
}

main {
  width: 100%;
}

@media (max-width: 600px) {
  .inputResearch {
    width: 100%;
  }

  .element {
    border-radius: 500px;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border: none;
  }

  ul {
    max-width: 100%;
  }

  ul > li {
    margin-right: 5%;
  }

  li {
    font-size: 15px;
  }

  .button-add-cart {
    width: 100%;
  }

  .description-product {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .card-image {
    width: 50%;
    height: 50%;
  }

  .description-pokemon {
    width: 90%;
  }

  .card-pokemon {
    flex-direction: column;
  }
}
